.fc .fc-button-primary {
  //background-color: #dc3545 !important;
  background-color: #158cba !important;
  color: #fff !important;
}

.fc .fc-button-primary:hover {

  background-color: #106a8c !important;
  color: #fff !important;
}


.fc .fc-button:disabled {
  //background-color: black !important;
  background-color: #106a8c !important;
  color: #fff !important;
  opacity: 1 !important;
}
.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #106a8c !important;
  color: #fff !important;

}

//.fc fc-daygrid-day fc-day-today {
//  background-color: rgba(208, 208, 208, 0.3) !important;
//
//}

$backgroundOfTheDay: rgba(208, 208, 208, 0.3) !important;

.fc .fc-day-today {
  background-color: $backgroundOfTheDay;
  .fc-daygrid-day-frame {
    background-color: $backgroundOfTheDay;
  }
}

th .fc-scrollgrid-sync-inner:not(a) {
  background-color: $backgroundOfTheDay;
}

.fc-col-header-cell-cushion {
  color: #2c3e50 !important;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 0.5rem !important;
}

.fc-col-header-cell-cushion:hover {
  text-decoration: none !important;
}

.fc-daygrid-day-number {
  text-decoration: none;
}
.fc-daygrid-day-number:hover {
  text-decoration: none !important ;
}

.fc-daygrid-week-number {
  text-decoration: none;
}
.fc-daygrid-week-number:hover {
  text-decoration: none !important;
}
.fc-daygrid-day-frame {
  background-color: #fff;
}

.fc-toolbar-title {
  text-transform: uppercase;
}

.fc .fc-toolbar {
  flex-wrap: wrap;
}

.fc-list-day-text {
  text-transform: uppercase;
  text-decoration: none;
}

.fc-list-day-side-text {
  text-transform: uppercase;
  text-decoration: none;
}

.fc-popover-body

{
  background-color: #fff;
}

.fc-day-sun a {
  color: red !important;
}
